@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.invisible {
  display: none;
}

a {
	color: #fff;
}

a:hover {
  color: #4ad9e4;
  text-decoration: none;
}

.alert > a {
  color: blue;
}

 .alert > a:hover {
  color: #99f;
  text-decoration: none;
}

.hardlink {
  text-decoration: underline;
}.hardlink:hover {
  text-decoration: underline;
}

.logo {
  color: rgba(255,255,255,0.6);
  font-size:0.3em;
  position: relative;
  right: 0.05em;
  bottom: 0.13em;  
}
.logo:hover { color: #4ad9e4;}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #e4e2ff;
  margin: 0;
}

.tabloader {
  background-color: #eee;
  color: #eee;
  margin: 2px;
}
/*button {
  background: #4ad9e4;
  min-height: 40px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
button:hover {
  background: #acf5fa;
  color: #010606;
}*/

button {
  border-radius: 30px;
  background: #4ad9e4;
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: 5em;
}
button:disabled {
  background: #fff;
  color: #ccc;
}
button[disabled]:hover {
  background: #fff;
  color: #ccc;
}
button:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #010606;
  border: 1px solid black;
}

.buttonsbar {
  background: white;
  color: #010606;
}
.buttonsbar:hover {
  background: #4ad9e4;
  color: #fff;
}

.spinner {
  position: absolute;
  background: rgba(255,255,255,0.5);
  min-width: 200px;
  min-height: 200px;
  top: 80px;
  z-index: 5;
}

.messages {
  opacity: 75%;
}

.autocomplete {
  background: rgba(255,255,255,1);
  overflow: scroll;
  max-height: 50vh;
  width: 100%;
  top: 45px;
  z-index: 5;
}

ul {
  list-style-type: none;
}

li {
  cursor: pointer;
}
    