@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
	color: #fff;
}

a:hover {
  color: #4ad9e4;
  text-decoration: none;
}

span {
  color: rgba(255,255,255,0.6);
  font-size:0.3em;
  position: relative;
  right: 0.05em;
  bottom: 0.13em;  
}
span:hover { color: #4ad9e4;}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #e4e2ff;
  margin: 0;
}

button {
  background: #4ad9e4;
  min-height: 40px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
button:hover {
  background: #acf5fa;
  color: #010606;
}